
.group-field__header{
    padding-top: 20px;
}

.thumbnail{
    background-color: lightgrey;
}

.logo {
    img {
        height: 110px;
        width: 110px;
    }
}

.note {
    strong {
        color: red;
    }
}