
.label-font{
    color:navy !important;
}

.form-submit .btn .btn--style-primary{
  background-color: navy;
}

a:hover{
  color: black !important;
  text-decoration: none !important;
}

.add_cate{
    float: right;
    margin-right: 15px;
    background-color: #2F3293;
    color: #fff;
}
.rdt_Table .rdt_TableHead .rdt_TableCol:first-child{
    width: 40px;
    max-width: 40px;
    min-width: 70px;
}
.rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell:first-child{
    width: 40px;
    max-width: 40px;
    min-width: 70px;
}
.rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell{
    min-height: 50px;
    height: 30px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch:before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: #aaa;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #f9f9fa;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #2dad2d;
}

.template-minimal__wrap .form {
  a{
    display: none;
  }
}