@import "./_variables.scss";
@import "./_guidlineColor.scss";
@import "./_guidline.scss";
@import "./_guidlineMedia.scss";

.block_contact_info {
    width: 100%;
    height: 100%;
    background: $primary-blue;
    position: relative;
    display: flex;
    align-items: center;

    .animation_doodles {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        padding: 50px;
        left: 0;

        .common_poll {
            position: absolute;

            &.poly_ani_19 {
                top: 5%;
                left: 5%;
            }

            &.poly_ani_20 {
                top: 20%;
                right: 15%;
            }

            &.poly_ani_21 {    
                bottom: 1%;
                left: 24%;
            }

            #dot_pol {
                animation: 5.3s blink ease infinite;
                position: relative;
                opacity: 0.35;

                &:nth-child(2) {
                    animation-delay: 2s
                }

                &:nth-child(3) {
                    animation-delay: 4s
                }

                &:nth-child(4) {
                    animation-delay: 6s
                }

                &:nth-child(5) {
                    animation-delay: 9s
                }

                &:nth-child(6) {
                    animation-delay: 7s
                }
            }
        }
        @include tab-max{
            height: 100%;
        }
    }

    .block_info_inner {
        width: 80%;
        // height: 100%;
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        // padding-top: 80px;
        overflow: hidden;
        max-width: 515px;
        flex-direction: row;

        @media (min-width:1920px) {
            max-width:  28.646vw;
        } 

        @include mini-screen{
            padding-top: 30px;
        }
        
        @include tab-max{
            padding-top: 0;
            flex-direction: column;
        }
        .block_contact_right{
            display: flex;
            width: auto;
            flex-wrap: wrap;
            padding-top: 50px;
            .from_main_block{
                width: 100%;
                background: $white;
                border-radius: 16px;
                padding: 24px 16px 15px;

                @media (min-width:1920px) {
                    border-radius: 0.833vw;
                    padding: 1.25vw;
                }
        
                @include tab_view {
                    padding: 12px
                }
        
                .title_block{
                    color: $neutrals_dark_gray;
                    position: relative;
                    font-size: 32px;
                    line-height: 40px;
                    letter-spacing: -0.02em;
                    font-weight: 700;
                    margin-bottom: 15px;
        
                    @media (min-width:1920px) {
                        font-size: 1.667vw;
                        line-height: 2.083vw;
                    }

                    @include tab-max {
                        font-size: 24px;
                        line-height: 32px;
                    }
        
                    @include ipad_view {
                        font-size: 20px;
                        line-height: 28px;
                    }
        
                    span{
                        color: $secondary-yellow;
                    }
                    .txt_doodle{
                        position: absolute;
                        bottom: -10px;
                        left: 0px;

                        @media (min-width:1920px) {
                            bottom: -0.521vw;
                        }
                    }
                }
        
                .from_block{
                    width: 100%;
                    padding:16px;
                    margin: 10px 0 0;
                    border-radius: 12px;
                    background: rgba(245, 245, 245, 0.5);
                    
                    @media (min-width:1920px) {
                        padding:0.833vw;
                        margin: 0.521vw 0 0;
                        border-radius: 0.625vw;
                    }

                    @include tab_view {
                        padding: 10px
                    }
        
                    ul{
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
        
                        li{
                            width: calc(50% - 16px);
                            margin-bottom: 16px;
                            display: flex;
                            padding-left: 20px;

                            @media (min-width:1920px) {
                                width: calc(50% - 0.833vw);
                                margin-bottom: 0.833vw;
                                padding-left: 1.042vw;
                            }

                            @include mobile_view{
                                width: calc(100% - 16px);
                            }

                            .form_field{
                                width:100%;
                                position: relative;
                                display: flex;
                                flex-wrap: wrap;
                                align-content: flex-start;
                                
                                input{
                                    width: 100%; 
                                    height: 30px;
                                    border: 0;
                                    border-bottom:1px solid rgba(41,41,41,0.1);
                                    font-size: 10px;
                                    line-height: 14px; 
                                    color: $neutrals_dark_gray;
                                    background: transparent;
                                    outline: none;
        
                                    &:focus{
                                        border-color: $secondary-yellow;
                                    }

                                    @media (min-width:1920px) {
                                        height: 1.563vw;
                                        border-bottom:0.052vw solid rgba(41,41,41,0.1);
                                        font-size: 0.521vw;
                                        line-height: 0.729vw; 
                                    }
                                }
                                select{
                                    width: 100%;
                                    height: 30px;
                                    border: 0;
                                    border-bottom:1px solid rgba(41,41,41,0.1);
                                    font-size: 10px;
                                    line-height: 14px;
                                    color: $neutrals_dark_gray;
                                    background: url(../public/images/icon/ic_arrow.svg) no-repeat right center;
                                    outline: none;
                                    appearance: none;
                                    &:focus{
                                        border-color: $secondary-yellow;
                                        outline: none;
                                    }

                                    @media (min-width:1920px) {
                                        height: 1.563vw;
                                        border-bottom:0.052vw solid rgba(41,41,41,0.1);
                                        font-size: 0.521vw;
                                        line-height: 0.729vw; 
                                    }
                                }
                                textarea{
                                    width: 100%;
                                    height: 30px;
                                    border: 0;
                                    resize: none;
                                    border-bottom:1px solid rgba(41,41,41,0.1);
                                    font-size: 10px;
                                    line-height: 14px;
                                    color: $neutrals_dark_gray;
                                    background: transparent;
                                    padding: 7px 0;
                                    outline: none;
                                    &:focus{
                                        border-color: $secondary-yellow;
                                    }
                                    @media (min-width:1920px) {
                                        height: 1.563vw;
                                        border-bottom:0.052vw solid rgba(41,41,41,0.1);
                                        font-size: 0.521vw;
                                        line-height: 0.729vw; 
                                    }
                                }
                                .alert_msg{
                                    width: 100%;
                                    flex-wrap: wrap;
                                    clear: left;
                                    color: #f44336;
                                    font-size: 9px;
                                    line-height: 12px;
                                    margin: 5px 0 0;
                                    @media (min-width:1920px) {
                                        font-size: 0.469vw;
                                        line-height: 0.625vw;
                                        margin:0.26vw 0 0;
                                    }
                                } 
        
                                &.ic_user{
                                    &:before{
                                        position: absolute;
                                        top: 8px;
                                        left: -20px;
                                        content: '';
                                        background: url(../public/images/icon/ic_user.svg) no-repeat;
                                        height: 16px;
                                        width: 16px;
                                        background-size: 16px;

                                        @media (min-width:1920px) {
                                            top: 0.417vw;
                                            left: -1.042vw;
                                            height: 0.833vw;
                                            width: 0.833vw;
                                            background-size: 0.833vw;
                                        }
                                    }
                                }
                                &.ic_company{
                                    &:before{
                                        position: absolute;
                                        top: 8px;
                                        left: -20px;
                                        content: '';
                                        background: url(../public/images/icon/ic_company.svg) no-repeat;
                                        height: 16px;
                                        width: 16px;
                                        background-size: 16px;
                                        @media (min-width:1920px) {
                                            top: 0.417vw;
                                            left: -1.042vw;
                                            height: 0.833vw;
                                            width: 0.833vw;
                                            background-size: 0.833vw;
                                        }
                                    }
                                }
                                &.ic_budget{
                                    &:before{
                                        position: absolute;
                                        top: 8px;
                                        left: -20px;
                                        content: '';
                                        background: url(../public/images/icon/ic_budget.svg) no-repeat;
                                        height: 16px;
                                        width: 16px;
                                        background-size: 16px;
                                        @media (min-width:1920px) {
                                            top: 0.417vw;
                                            left: -1.042vw;
                                            height: 0.833vw;
                                            width: 0.833vw;
                                            background-size: 0.833vw;
                                        }
                                    }
                                }
                                &.ic_mail{
                                    &:before{
                                        position: absolute;
                                        top: 8px;
                                        left: -20px;
                                        content: '';
                                        background: url(../public/images/icon/ic_mail.svg) no-repeat;
                                        height: 16px;
                                        width: 16px;
                                        background-size: 16px;
                                        @media (min-width:1920px) {
                                            top: 0.417vw;
                                            left: -1.042vw;
                                            height: 0.833vw;
                                            width: 0.833vw;
                                            background-size: 0.833vw;
                                        }
                                    }
                                }
                                &.ic_phone{
                                    &:before{
                                        position: absolute;
                                        top: 8px;
                                        left: -20px;
                                        content: '';
                                        background: url(../public/images/icon/ic_phone.svg) no-repeat;
                                        height: 16px;
                                        width: 16px;
                                        background-size: 16px;
                                        @media (min-width:1920px) {
                                            top: 0.417vw;
                                            left: -1.042vw;
                                            height: 0.833vw;
                                            width: 0.833vw;
                                            background-size: 0.833vw;
                                        }
                                    }
                                    > div{
                                        width: 100%;
                                    }
                                }
                                &.ic_message{
                                    &:before{
                                        position: absolute;
                                        top: 8px;
                                        left: -20px;
                                        content: '';
                                        background: url(../public/images/icon/ic_message.svg) no-repeat;
                                        height: 16px;
                                        width: 16px;
                                        background-size: 16px;
                                        @media (min-width:1920px) {
                                            top: 0.417vw;
                                            left: -1.042vw;
                                            height: 0.833vw;
                                            width: 0.833vw;
                                            background-size: 0.833vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
        
                    .form_btn{
                        margin-top: 15px;

                        @media (min-width:1920px) {
                            margin-top: 1.042vw;
                        }
                        .theme_btn_solid {
                            border: 2px solid $secondary-yellow;
                            background: $secondary-yellow;
                            padding: 8px 20px;
                            border-radius: 24px;
                            color: $white;
                            box-shadow: 0 4px 0 $secondary-yellow-shadow;
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                            position: relative;
                            text-decoration: none;

                            @media (min-width:1920px) {
                                border: 0.104vw solid $secondary-yellow;
                                padding: 0.417vw 1.042vw;
                                border-radius: 1.25vw;
                                box-shadow: 0 0.208vw 0 $secondary-yellow-shadow;
                                font-size: 0.833vw;
                                line-height: 1.25vw;
                            }
                
                            svg {
                                stroke-miterlimit: 10;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-dasharray: 400;
                                transition: all 0.8s;
                                margin-left: 15px;
                                @media (min-width:1920px) {
                                    margin-left: 0.781vw;
                                    width: 0.8vw;
                                    height: 0.8vw;
                                }
                            }
                
                            &:hover {
                                svg {
                                    transition: all 0.8s;
                                    animation: strok 1.1s reverse;
                                }
                            }
                        }
                    }
                }
            }
            .contact_addressBlock{

                @include tab-max{
                    margin: 20px 0 0;
                }

                .info_add_box {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    z-index: 9;
                    margin-top: 20px;
                    .info_contact{
                        display: flex;
                        @include mobile_view{
                            flex-wrap: wrap;
                        }
                    }
                    @media (min-width:1920px) {
                        margin-top: 1.823vw;
                    }
        
                    @include mini-screen{
                        margin-top: 15px;
                    }
        
                    .line_wrps {
                        display: flex;
                        width: 100%;
                        color: $white;
                        margin-bottom: 15px;
                        // flex-wrap: wrap;
        
                        @media (min-width:1920px) {
                            margin-bottom: 0.781vw;
                        }
        
                        .icon_box {
                            display: flex;
                            align-items: center;
                            padding-right: 0;
                            border-right: 1px solid $white_o16;
                            margin-right: 9px;
                            width: 30px;
                            position: relative;
                            z-index: 1;
                            background: $primary-blue;
        
                            
                            @media (min-width:1920px) {
                                margin-right: 0.469vw;
                                width: 1.563vw;
                                border-right-width: 0.052vw;
                            }
                            /*
                            @include mini-screen{
                                padding-right: 20px;
                                margin-right: 20px;
                                width: 50px;
                            }
                            */
        
                            img{
                                width: auto;
                                max-width: 20px;
                                @media (min-width:1920px) {
                                    max-width: 1.042vw;
                                    width: 1.842vw;
                                }
                            }
                        }
        
                        .ans_box {
                            display: flex;
                            position: relative;
                            width: calc(100% - 39px);
                            
                            @include mobile_view{
                                flex-wrap: wrap;
                            }

                            .ansBox_item{
                                width: auto;
                                display: flex;
                                padding-right: 16px;
                                border-right: 1px solid $white_o16;
                                margin-right: 16px;

                                &:last-child{
                                    border: 0;
                                    margin-right: 0;
                                    padding-right: 0;
                                }
                                
                                @include mobile_view{
                                    width: 100%;
                                    padding: 2px 0;
                                    margin: 0;
                                    border: 0;
                                }
        
                                span {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 24px;
                                    margin-bottom: 10px;
            
                                    @media (min-width:1920px) {
                                        font-size: 0.833vw;
                                        line-height: 1.25vw;
                                        margin-bottom: 0.521vw;
                                    }
            
                                    &:last-child {
                                        margin: 0;
                                    }
            
                                    a {
                                        color: $white;
                                        text-decoration: none;
            
                                        &:hover {
                                            color: $secondary-yellow;
                                        }
                                    }
                                }
                                .addres_block{
                                    @include mobile_view{
                                        max-width: 260px;
                                    }

                                    .ans_box{
                                        margin-bottom: 15px;
                
                                        @media (min-width:1920px) {
                                            margin-bottom: 0.781vw;
                                        }
                
                                        @include mini-screen{
                                            margin-bottom: 10px;
                                        }
                                        span{
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .contact_map_block{
                    width: 100%;
                    @include mobile_view{
                        display: none;
                    }
                    .contact_map_block_inner{
                        width: 100%;
                        position: relative;
                        overflow: hidden;

                        .contact_country_list{
                            width: 100%;
                            padding: 0 40px;
                            display: flex;
                            justify-content: space-between;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;

                            .contact_map_country{                            
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .icon_location{
                                    display: flex;
                                }
                                .name_location{
                                    display: flex;
                                    font-size: 12px;
                                    line-height: 24px;
                                    text-transform: uppercase;
                                    color: $neutrals_white;
                                }
                            }
                        }
                        &:before{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 70px;
                            border: 0;
                            border-top: 2px solid $secondary-yellow;
                            border-style: dashed;
                            border-top-left-radius: 50%;
                            border-top-right-radius: 50%;
                            width: calc(100% - 100px);
                            left: 50px;
                            right: auto;
                            margin: auto;
                        }
                    }
                }
            }   
        }
        .block_contact_left{
            display: flex;
            width: auto;
            flex-wrap: wrap;
            order: -1;
            justify-content: center;
            align-items: center;
            margin: 0 50px 0 0;
            
            @media (min-width:1199px) {
                margin: 0 15px 0 0;
            }

            @media (min-width:1920px) {
                margin: 0 2.604vw 0 0;
            }

            .social_box {
                display: flex;
                width: 100%;
                z-index: 9;
    
                @media (min-width:1920px) {
                    margin-top: 0.781vw;
                    border-top-width: 0.052vw;
                }
                .ftr_btm_block {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    @include tab-max{
                        margin: 20px 0 0;
                    }
                    
                    .url_box {
                        @include mobile-sm-view{
                            width: 100%;
                        }
    
                        a {
                            position: relative;
                            margin: 40px 0;
                            width: 30px;
                            display: block;
    
                            @media (min-width:1920px) {
                                margin: 1.563vw 0;
                                width: 1.563vw;
                            }

                            @include tab-max{
                                display: inline-block;
                                margin: 0 10px;
                                width: auto;
                            }

                            @include mobile_view{
                                margin: 0 5px;
                            }
        
                            &:last-child {
                                margin: 0;
                            }
        
                            img{
                                width: 100%;
                                opacity: 0.2;

                                @include mobile_view{
                                    max-width: 20px;
                                }
                            }
    
                            svg {
                                stroke-miterlimit: 10;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-dasharray: 400;
                                transition: all 0.8s;
                            }
        
                            &:hover {
                                svg {
                                    stroke: $secondary-yellow  !important;
                                    transition: all 0.8s;
                                    animation: strok 1.1s reverse;
                                }
                                img{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            @include tab-max{
                order: 1;
            }
        }
    }
    @include tab-max{
        height: auto;
        padding: 60px 24px 60px;
        .block_info_inner{
            width: 94%;
            max-width: 100%;

            span{
                h1{
                    font-size: 32px;
                    line-height: 40px;
                    margin: 0;
                }
            }
        }
    }

    @include mobile_view{
        padding: 60px 24px 100px;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
