@import "./_variables.scss";
@import "./_guidlineColor.scss";
@import "./_guidline.scss";
@import "./_guidlineMedia.scss";
 
.sec_one_left {
    width: 100%;
    height: 100%;
    background: $primary-blue;
    position: relative;
    z-index: 0;

    .animation_doodles {
        position: absolute;
        height: 95vh;
        width: 100%;
        top: 0;
        padding: 50px;
        left: 0;

        @media (min-width:1920px){
            padding: 2.627vw;        
        }

        .common_poll {
            position: absolute;

            &.poly_ani_04 {
                top: 5%;
                right: 5%;
            }

            &.poly_ani_05 {
                bottom: 5%;
                left: 25%;
            }

            &.poly_ani_06 {
                bottom: 25%;
                right: 15%;
            }

            #dot_pol {
                animation: 5.3s blink ease infinite;
                position: relative;
                opacity: 0.35;

                &:nth-child(2) {
                    animation-delay: 2s
                }

                &:nth-child(3) {
                    animation-delay: 4s
                }

                &:nth-child(4) {
                    animation-delay: 6s
                }

                &:nth-child(5) {
                    animation-delay: 9s
                }

                &:nth-child(6) {
                    animation-delay: 7s
                }
            }
        }
    }

    .content_block {
        width: 80%;
        display: flex;
        flex-flow: column;
        height: 100%;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        overflow: hidden;
        max-width: 450px;

        @media (min-width:1920px){
            max-width: 28.902vw;     
        }

        @include tab-max{
            width: 94%;
            max-width: 100%;
        }

        .partner_icons{
            display: flex;
            gap: 24px;
            padding-top: 24px;
            img{
                    height: 78px;
                    object-fit: cover;
                    width: auto;
                    border-radius: 5px;
            }
        }
        .greets {
            position: relative;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            opacity: 0.92;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $neutrals_white;

            @media (min-width:1920px){
                font-size: 0.631vw;
                line-height:1.051vw;     
            }
        }

        span {
            position: relative;
            left: 0;
            opacity: 1;

            h1 {
                font-size: 64px;
                line-height: 72px;
                margin-bottom: 8px;
                font-weight: 700;
                color: $neutrals_white;

                @media (min-width:1920px){
                    font-size: 3.363vw;
                    line-height: 3.783vw;
                    margin-bottom: 0.42vw;     
                }

                @include xsm-laptop-screen {
                    font-size: 48px;
                    line-height: 56px;
                }
                @include tab-view{
                    font-size: 32px;
                    line-height: 40px;
                    margin: 0;
                }

                .text_orange {
                    color: $secondary-yellow;
                }
            }
        }

        .slogs {
            position: relative;
            left: 0;
            opacity: 1;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            margin: 15px 0 0;
            color: $neutrals_white;

            @media (min-width:1920px){
                font-size: 1.261vw;
                line-height: 1.682vw;    
            }

            @include tab-view {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .cta_btn {
            background-color: $white;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            border-radius: 25px;
            border: none;
            padding: 12px 24px;
            display: flex;
            box-shadow: 0px 3px 1px $primary_mid;
            color: $primary_theme;
            margin-top: 25px;
            position: relative;
            cursor: pointer;
            max-width: max-content;
            align-items: center;
            width: 100%;
            text-decoration: none;
            position: relative;
            left: 0;
            opacity: 1;

            @media (min-width:1920px){
                font-size: 0.841vw;
                line-height: 1.261vw;
                padding: 0.631vw 1.261vw;
                margin-top: 1.314vw;   
            }

            svg {
                stroke-miterlimit: 10;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 400;
                transition: all 0.8s;
                margin-left: 10px;

                @media (min-width:1920px){
                    margin-left: 0.525vw;   
                }

                &.left_svg {
                    margin-right: 10px;
                    margin-left: 0;

                    @media (min-width:1920px){
                        margin-right: 0.525vw;  
                    }
                }
            }

            img{
                margin-left: 10px;
                width: 24px;
                height: 24px;

                @media (min-width:1920px){
                    margin-left: 0.525vw;
                    width: 1.25vw;
                    height: 1.25vw;
                }

                &.left_svg {
                    margin-right: 10px;
                    margin-left: 0;

                    @media (min-width:1920px){
                        margin-right: 0.525vw;  
                    }
                }
            }

            &:hover {
                svg {
                    transition: all 0.8s;
                    animation: strok 1.1s reverse;
                }
            }
        }

        .new_orange_cta {
            color: $neutrals_white;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            margin-top: 20px;
            text-decoration: none;
            max-width: max-content;
            display: inline-block;

            @media (min-width:1920px){
                font-size: 0.946vw;
                line-height: 0.946vw;
                margin-top: 1.051vw;  
            }

            @include tab-view {
                font-size: 16px;
                line-height: 16px;
            }

            img{
                margin-left: 10px;
                width: 42px;
                height: 22px;
                @media (min-width:1920px){
                    margin-left: 0.525vw;
                    width: 2.188vw;
                    height: 1.146vw;
                }
            }

            svg {
                stroke-miterlimit: 10;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 400;
                transition: all 0.8s;
                margin-left: 10px;
            }

            &:hover {
                svg {
                    transition: all 0.8s;
                    animation: strok 1.1s reverse;
                }
            }
        }

        .anim_active {
            animation: textLeftSlide 1.3s linear 0.2s;
        }
    }

    @include tab-max{
        height: auto;
        padding: 80px 24px;
        .animation_doodles {
            height: 100%;
        }
    }

    @include tab-view{
        padding: 60px 24px;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes textLeftSlide {
    0% {
        left: -100%;
        opacity: 0;
    }

    10% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}
