
@import '../../../styles/_guidline.scss';
@import '../../../styles/_guidlineColor.scss';
@import '../../../styles/_guidlineMedia.scss';
@import '../../../styles/_variables.scss';

.company_info{
  width: 100%;
  padding: 72px 0;
  position: relative;
  @include tab-max {
      padding: 60px 0;
  }
  @include ipad_view {
      padding: 40px 0;
  }
  @include tab_view {
      padding: 30px 0;
  }
  .block_title{
      width: 100%;
      text-align: center;
      span {
          @include hairlineSmall;
          letter-spacing: 0.08em;
          margin-bottom: 24px;
          opacity: 0.8;
          display: block;
          @include tab-max {
              margin-bottom: 20px;
          }
          @include ipad_view {
              margin-bottom: 16px;
          }
          @include tab_view {
              margin-bottom: 12px;
          }
      }
      h2 {
          width: 100%;
          @include headTwo;
          margin-bottom: 72px;
          @include ipad_view {  
              margin-bottom: 30px;
          }
          @include tab_view { 
              margin-bottom: 20px;
          }
      }
  }
  .info_detail{
      width: 100%;
      border-radius: 16px;
      ul{
          width: 100%;
          display: flex;
          justify-content: space-around;
          padding: 0;
          margin: 0;
          @include tab_view {
              flex-wrap: wrap;
          }
          li{
            //   width: calc(100% / 5);
              width: auto;
              padding: 70px 20px;
              text-align: center;
              @include tab_view {
                  width: calc(100% / 2);
                  padding: 30px 15px;
              }
              @include mobile_view {
                  width: 100%;
              }
              .block_count{
                  width: 100%;
                  @include headTwo;
                  font-weight: 500;
                  margin-bottom: 30px;
                //   @include mini-screen {
                //       font-size: 48px;
                //   }
                @include tab_view {
                      font-size: 32px;
                      margin-bottom: 15px;
                  }
              }
              .block_text{
                  width: 100%;
                  @include headFive;

              }
          }
      }
  }

  &.bg_light{
      background: $primary_light;
      .block_title{
          span{
              color: $primary_dark;
          }
          h2{
              color: $primary_dark;
          }
      }
      .info_detail{
          background: $neutrals_white;
          ul{
              li{
                  .block_count{
                      color: $primary_theme;
                  }
                  .block_text{
                      color: $primary_dark;
                  }
              }
          }
      }
  }
  &.bg_dark{
      background: $primary_theme;
      .block_title{
          span{
              color: $neutrals_white;
          }
          h2{
              color: $neutrals_white;
          }
      }
      .info_detail{
          background: $primary_mid_o16;
          ul{
              li{
                  .block_count{
                      color: $neutrals_white;
                  }
                  .block_text{
                      color: $neutrals_white;
                  }
              }
          }
      }
  }
}